.add-bookmark-form input:not([type=checkbox]), .add-bookmark-form label, .add-bookmark-form select, .add-bookmark-form textarea {
  display: block;
  width: 100%; }

.Tokenize {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
