{% extends "base.jinja" %}

{% block css %}
<link rel="stylesheet" href="{{ static('tokenize/jquery.tokenize.css') }}">
{% endblock %}

{% block content %}
{% if bookmark %}
<p>
    {{ bookmark.title }} bookmark successfully created!
</p>
{% endif %}
<style>
    form {
        width: 600px;
        margin-left: 20px;
    }
</style>
<form action="" method="POST" class="add-bookmark-form"> {% csrf_token %}
    {{ form }}
    <button>Submit</button>
</form>
<a href="{{ url('admin:bookmarks_bookmark_changelist') }}">List</a>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ static('tokenize/jquery.tokenize.js') }}"></script>

<script src="{{ static('bookmarks/js/form.js') }}"></script>
{% endblock %}

{% block js_init %}
<script>
    form.init({
        infer_title_url: "{{ url('ajax_infer_title') }}",
    });

    var widget = $('select[multiple=multiple]').tokenize({
        newElements: false,
    });
</script>
{% endblock %}