{% extends "base.jinja" %}

{% block content %}

<a href="{{ url('tree') }}">Tree</a>
{% for ancestor in tag.ancestors() %}
<h3>
  <a href="{{ url('tag', ancestor.id) }}">{{ ancestor.name }}</a>
</h3>
{% endfor %}
<h2>{{ tag.name }}</h2>

<form action="{{ url('set_parent') }}" method="POST">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <input type="hidden" name="child_id" value="{{ tag.id }}">
  <select name="parent_id" id="parent_select">
    {% for possible_parent in tag.possible_parents() %}
      <option value="{{ possible_parent.id }}">{{ possible_parent.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Set as parent">
</form>

{% macro show_bookmarks(bookmarks) %}
  {% for bookmark in bookmarks %}
    <p>
      <a href="{{ bookmark.url }}">
        {{ bookmark.title }} |
        {% for bookmark_tag in bookmark.tags.all() %}
          <a href="{{ url('tag', bookmark_tag.id) }}">{{ bookmark_tag.name }}</a>
        {% endfor %}
        | <a href="{{ url('edit_bookmark', bookmark.id) }}">Edit</a>
      </a>
    </p>
  {% endfor %}
{% endmacro %}

{{ show_bookmarks(tag.bookmarks.all()) }}

{% for descendant in tag.descendants() %}
  <hr>
  <h4>
    <a href="{{ url('tag', descendant.id) }}">{{ descendant.name }}</a>
  </h4>
  {{ show_bookmarks(descendant.bookmarks.all()) }}
{% endfor %}

{% endblock %}