{% extends "base.jinja" %}

{% block css %}
<style>
    #vid-container {
      width:100%;
      height:100%;
      width: 820px;
      height: 461.25px;
      float: none;
      clear: both;
      margin: 2px auto;
   }

    svg {
      border-radius:3px;
      width: 100%;
    }
    .node {
        cursor: pointer;
    }

    .node circle {
      fill: #fff;
      stroke: #99ccff;;
      stroke-width: 3px;
    }

    .node text {
      font: 12px sans-serif;
    }

    .link {
      fill: none;
      stroke: #99ccff;
      stroke-width: 2px;
    }

    .selected {
      font-weight:bold;
    }
    .not-selected {
      font-weight:normtal;
    }

</style>

{% endblock %}

{% block content %}
<svg id="tree"></svg>
<a href="{{ url('untagged') }}">Untagged bookmarks ({{ untagged_count }})</a>
{% endblock %}

{% block js %}
<script src="{{ static('d3/d3.min.js') }}"></script>
<script src="{{ static('tags/js/tree.js') }}"></script>
{% endblock %}

{% block js_init %}
<script>
    tree.draw({
        svgSelector: "#tree",
        data: {{ jsonify(tree_data) }},
    });
</script>
{% endblock %}