{% extends "base.jinja" %}

{% block content %}

<a href="{{ url('tree') }}">Tree</a>
<h2>Untagged bookmarks</h2>

{% for bookmark in bookmarks %}
  <p>
    <a href="{{ bookmark.url }}">
      {{ bookmark.title }} |
    </a>
  </p>
{% endfor %}

{% endblock %}