<html>
    <head>
        <link rel="shortcut icon" href="/static/favicon.png?v=2"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ static('css/styles.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block js %}{% endblock %}
        {% block js_init %}{% endblock %}
    </body>
</html>